                                        # Web Scraping Assignment-2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:

!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
#importing the necessary libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:

driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
driver=webdriver.Chrome('chromedriver.exe')

In [5]:
url='https://www.naukri.com/'
driver.get(url)

In [9]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Analyst,")

In [11]:
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [12]:

search_locn.send_keys("Bangalore/Bangaluru")
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [13]:


# Extracting data
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name[0:10]
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:10]

locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_name=[]
for i in locn_tag:
    loc_name.append(i.text)
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp=[]
for i in exp_tag:
    exp.append(i.text)

In [14]:
df=pd.DataFrame({'Company Name':company_name[0:10] , 'Position' :title_name[0:10],'Experience_Required' :exp[0:10],'Location' :loc_name[0:10]})
df

,Company Name,Position,Experience_Required,Location
0,Artech infosystem,Data Analyst - CRM Platform,1-6 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
1,E&Y,Data Analyst,3-7 Yrs,"Kolkata, Pune, Gurgaon/Gurugram, Bangalore/Ben..."
2,Vmware,Data Analyst / Sr. Data Analyst,3-6 Yrs,Bangalore/Bengaluru
3,ExecBoardinAsia,"Lead Data Analyst, ED&A",5-10 Yrs,Bangalore/Bengaluru
4,Jeeva Organic,Data Analyst,3-8 Yrs,Bangalore/Bengaluru
5,Axim Technologies,Lead - Data Analyst / Scientist,12-14 Yrs,Bangalore/Bengaluru
6,AXL HR Tech,Research - Data Analyst / Associate,0-2 Yrs,"Mumbai, Delhi / NCR, Bangalore/Bengaluru"
7,Russell Tobin Associates Staffing Solutions In...,Hiring Data Analyst For BFSI on Contract role,3-6 Yrs,Bangalore/Bengaluru(Marathahalli)
8,Huquo Consulting Pvt. Ltd,Senior Data Analyst - KPO,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Huquo Consulting Pvt. Ltd,Assistant Manager/Lead/Manager - Data Analyst ...,2-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"

-----------------------------------------------------------------------------------------------------------------------------

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [17]:
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(5)
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(5)
url='https://www.naukri.com/'
driver.get(url)

In [23]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data scientist,")

In [24]:
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn.send_keys("Bangalore/Bangaluru")

In [25]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [26]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
time.sleep(5)
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
time.sleep(2)
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:10]
locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
time.sleep(2)
loc_name=[]
for i in locn_tag:
    loc_name.append(i.text)

In [27]:
df=pd.DataFrame({'Company Name':company_name[0:10] , 'Position' :title_name[0:10], 'Location' :loc_name[0:10]})
df

,Company Name,Position,Location
0,Dell,Senior Data Scientist,Bangalore/Bengaluru
1,Dell,Senior Data Scientist,Bangalore/Bengaluru
2,Samya.AI A FRACTAL Entity,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid)
3,Dell,Commercial Analytics Data Scientist,Bangalore/Bengaluru
4,NutaNXT Technologies,Sr. Data Scientist,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)\..."
5,GO-JEK India,Senior Data Scientist - Logistics,Bangalore/Bengaluru
6,Fractal Analytics,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
7,Codersbrain,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
8,Codersbrain,Lead Data Scientist - Prescriptive Analytics/P...,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
9,Axim Technologies,Lead - Data Analyst / Scientist,Bangalore/Bengaluru

-------------------------------------------------------------------------------------------------------------------------------

Q3 You have to use the location and salary filter.
   You have to scrape data for “Data Scientist” designation for first 10 job results.
   You have to scrape the job-title, job-location, company name, experience required.
   The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [28]:
#connection with driver
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(5)
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(5)
url='https://www.naukri.com/'
driver.get(url)

In [29]:
# Giving input to the search Bar
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Analyst,")

search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn.send_keys("Delhi/NCR")
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()
time.sleep(2)

In [30]:
#set the salary filter 3-6lakh
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_check.click()

In [31]:
# Extracting the data
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
#title_name[0:10]


#company details 
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:10]


#Location Details 
locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_name=[]
for i in locn_tag:
    loc_name.append(i.text)

In [32]:
#creating a Dataframe

df=pd.DataFrame({'Company Name':company_name[0:10] , 'Position' :title_name[0:10], 'Location' :loc_name[0:10]})
df

,Company Name,Position,Location
0,AXL HR Tech,Research - Data Analyst / Associate,"Mumbai, Delhi / NCR, Bangalore/Bengaluru"
1,STRAIVE (SPI TECHNOLOGIES),We are hiring ESG Data Analyst!!!,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
2,STRAIVE (SPI TECHNOLOGIES),We are hiring ESG Data Analyst!!!,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
3,DEN Networks Limited,Senior Data Analyst,New Delhi(Okhla)
4,WHO,Assistant Data Analyst,New Delhi
5,GirnarSoft,Hiring For Senior Data Analyst,Gurgaon/Gurugram\n(WFH during Covid)
6,Adglobal360 India Private Limited,Urgent Hiring For Digital Data Analyst (immedi...,Gurgaon/Gurugram
7,MetLife,Reporting and Data Analyst,Noida
8,AINE Info Tech Pvt Ltd,Data & Business Analyst (Remote/Work from Home),Remote
9,Venuestring Events Management Pvt Ltd,Data Analyst,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

______________________________________________________________________________________________________________________________

**Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

Scrap 100 sunglasses

In [33]:
# connection with driver

driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com'
driver.get(url)
time.sleep(2)

In [34]:
#closing the Login window
try:
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
except NoSuchElementException:
    pass

In [38]:
#code for search Bar

search_bar_fk=driver.find_element_by_class_name('_3704LK')
search_bar_fk.clear()
search_bar_fk.send_keys('sunglasses')

In [36]:
#clicking the search Button
search_btn_fk=driver.find_element_by_class_name('_34RNph')
search_btn_fk.click()

In [37]:
#setting the location Xpath
search_locn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/ul')
search_locn

In [43]:
#scraping the details produts ,price and description

product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name=[]
for i in product_tag:
    title_name.append(i.text)
#title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices=[]
for i in price_tags:
    prices.append(i.text)
#prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=[]
for i in des_tag:
    des.append(i.text)
#des

In [52]:
#creating a dataframe 
df=pd.DataFrame({'Product Name':title_name[0:35] , 'Description' :des[0:35], 'Price' :prices[0:35]})

In [46]:
#code for next button 
driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span').click()

In [47]:
#scraping the second page details produts ,price and description
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name=[]
for i in product_tag:
    title_name.append(i.text)
#title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices=[]
for i in price_tags:
    prices.append(i.text)
#prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=[]
for i in des_tag:
    des.append(i.text)
#des

In [50]:
#creating a dataframe
df1=pd.DataFrame({'Product Name':title_name[0:35] , 'Description' :des[0:35], 'Price' :prices[0:35]})

In [215]:
#joining tha above two dataframe 
df2=df.append(df1, ignore_index = True)

In [54]:
#click for the Next button
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [55]:
#scraping the Third page details produts ,price and description
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name=[]
for i in product_tag:
    title_name.append(i.text)
#title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices=[]
for i in price_tags:
    prices.append(i.text)
#prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=[]
for i in des_tag:
    des.append(i.text)
#des

In [56]:
#creating the dataframe
df3=pd.DataFrame({'Product Name':title_name[0:30] , 'Description' :des[0:30], 'Price' :prices[0:30]})

In [58]:
#joining the dataframe 

df4=df2.append(df3, ignore_index = True)
df4

,Product Name,Description,Price
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹360
1,Fastrack,UV Protection Shield Sunglasses (Free Size),₹789
2,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,089"
3,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999
4,agera,Gradient Aviator Sunglasses (55),₹196
...,...,...,...
95,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹360
96,Rich Club,UV Protection Round Sunglasses (48),₹250
97,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",₹829
98,ROYAL SON,Mirrored Aviator Sunglasses (58),₹359
99,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹270

_____________________________________________________________________________________________________________________________

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [59]:
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART'
driver.get(url)
time.sleep(2)

In [60]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [62]:
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys

In [71]:
df=pd.DataFrame({'Rating':ratings[0:20] , 'Review_Summary' :reviews[0:20], 'Full Review' :summarys[0:20]})

In [72]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[3]').click()

In [73]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys

In [75]:
df1=pd.DataFrame({'Rating':ratings[0:20] , 'Review_Summary' :reviews[0:20], 'Full Review' :summarys[0:20]})

In [77]:
df2=df.append(df1, ignore_index = True)

In [78]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]').click()

In [79]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys

In [80]:
df3=pd.DataFrame({'Rating':ratings[0:20] , 'Review_Summary' :reviews[0:20], 'Full Review' :summarys[0:20]})

In [81]:
df4=df3.append(df2, ignore_index = True)

In [82]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]').click()

In [83]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys

In [85]:
df5=pd.DataFrame({'Rating':ratings , 'Review_Summary' :reviews, 'Full Review' :summarys})

In [89]:
df6=df4.append(df5, ignore_index = True)

In [90]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]').click()

In [92]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df7=pd.DataFrame({'Rating':ratings , 'Review_Summary' :reviews, 'Full Review' :summarys})

In [93]:
df8=df6.append(df7, ignore_index = True)

In [95]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[8]').click()

In [100]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df9=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [104]:
df10=df8.append(df9, ignore_index = True)

In [103]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[9]').click()

In [106]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df11=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [107]:
df12=df10.append(df11, ignore_index = True)

In [109]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[10]').click()

In [110]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df13=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [111]:
df14=df12.append(df13, ignore_index = True)

In [113]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]').click()

In [114]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df15=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [115]:
df16=df14.append(df15, ignore_index = True)

In [116]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]').click()

In [118]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df17=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [119]:
df18=df16.append(df17, ignore_index = True)

In [120]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]').click()

In [125]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df19=pd.DataFrame({'Rating':ratings[0:5] , 'Review_Summary' :reviews[0:5], 'Full Review' :summarys[0:5]})

In [126]:
df20=df18.append(df19, ignore_index = True)
df20

   Rating    Review_Summary                                        Full Review
0       5         Wonderful  This is my first ever I phone. Before this I w...
1       5          Terrific  Really worth of money. i just love it. It is t...
2       4      Nice product  Awesome Phone. Slightly high price but worth. ...
3       5  Perfect product!  Battery backup is extraordinary, camera is dec...
4       5    Classy product  Superb Product !!!\nA big and worthy upgrade f...
..    ...               ...                                                ...
95      5         Fabulous!  Gift this to your loved ones fabulous product ...
96      5    Classy product  Finally switched to iOS from android\nThere is...
97      5          Terrific  Very good smartphone and value for smoother an...
98      5          Terrific  This is very nice phone with great camera, per...
99      5         Just wow!  Got delivered by good packing from Flipkart wi...

[100 rows x 3 columns]

________________________________________________________________________________________________________________________________

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.

In [128]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [129]:
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')

In [130]:
driver=webdriver.Chrome('chromedriver.exe')

In [131]:
url='https://www.flipkart.com'
driver.get(url)
time.sleep(2)

In [132]:
try:
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
except NoSuchElementException:
    pass

In [133]:
search_bar_fk=driver.find_element_by_class_name('_3704LK')
search_bar_fk.clear()
search_bar_fk.send_keys('sneakers')

In [134]:
search_btn_fk=driver.find_element_by_class_name('_34RNph')
search_btn_fk.click()

In [135]:
search_locn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/ul')
search_locn

In [216]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name=[]
for i in product_tag:
    title_name.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices=[]
for i in price_tags:
    prices.append(i.text)
prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=[]
for i in des_tag:
    des.append(i.text)
#des
df=pd.DataFrame({'Product Name':title_name[0:20] , 'Description' :des[0:20], 'Price' :prices[0:20]})

In [144]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span').click()

In [148]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name1=[]
for i in product_tag:
    title_name1.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices1=[]
for i in price_tags:
    prices1.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des1=[]
for i in des_tag:
    des1.append(i.text)
#des
df1=pd.DataFrame({'Product Name':title_name1[0:25] , 'Description' :des1[0:25], 'Price' :prices1[0:25]})

In [149]:
df2=df.append(df1, ignore_index = True)

In [150]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [155]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name2=[]
for i in product_tag:
    title_name2.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices2=[]
for i in price_tags:
    prices2.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des2=[]
for i in des_tag:
    des2.append(i.text)
df3=pd.DataFrame({'Product Name':title_name2[0:25] , 'Description' :des2[0:25], 'Price' :prices2[0:25]})
#df3

In [154]:
df=df3.append(df2, ignore_index = True)

In [156]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [160]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name3=[]
for i in product_tag:
    title_name3.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices3=[]
for i in price_tags:
    prices3.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des3=[]
for i in des_tag:
    des3.append(i.text)
df4=pd.DataFrame({'Product Name':title_name3[0:30] , 'Description' :des3[0:30], 'Price' :prices3[0:30]})

In [161]:
df4.append(df, ignore_index = True)

    Product Name                                        Description Price
0     SPADE CLUB  Unique & Perfect Collection Combo Pack of 02 S...  ₹665
1         Saimon                                   Sneakers For Men  ₹238
2         BRUTON  Men's Sneakers Fashion Lightweight Running Sho...  ₹536
3       PEHANOSA  Boys & Men Stylish, Comfortable Comfort Foam S...  ₹479
4          Echor                                   Sneakers For Men  ₹569
..           ...                                                ...   ...
95  Robbie jones  Men's Canvas Low Top Sneakers Lace-up Classic ...  ₹499
96          HRDK  Fashion Outdoor Canvas Casual Light Weight Lac...  ₹368
97         Xtoon            Casual Sneakrs For Men Sneakers For Men  ₹499
98         hecta    Casual Sneaker Party Wear Shoe Sneakers For Men  ₹489
99         BIRDE  New Fashion Outdoor Trendy Lightweight Casual,...  ₹892

[100 rows x 3 columns]

******************************************************************************************************************************

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [162]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [163]:
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')

In [165]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.myntra.com/shoes'
driver.get(url)

In [166]:
price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')

In [167]:
price_check.click()

In [168]:
color_chk=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_chk.click()

In [176]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
#disc_prices
df=pd.DataFrame({'Product Brand':title_name[0:20] , 'Product_Description' :des[0:20], 'Original Price' :prices[0:20],'Discounted_Price' :disc_prices[0:20]})

In [177]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a').click()

In [196]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df1=pd.DataFrame({'Product Brand':title_name[0:20] , 'Product_Description' :des[0:20], 'Original Price' :prices[0:20],'Discounted_Price' :disc_prices[0:20]})

In [195]:
df2=df.append(df1, ignore_index = True)

In [180]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [194]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df3=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})

In [193]:
df4=df2.append(df3, ignore_index = True)

In [183]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [192]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df5=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})

In [191]:
df6=df4.append(df5, ignore_index = True)

In [186]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [190]:

title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df7=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})
df7
df8=df6.append(df7, ignore_index = True)

In [188]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[11]/a').click()

In [189]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df9=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})
df10=df8.append(df9, ignore_index = True)
df10

,Product Brand,Product_Description,Original Price,Discounted_Price
0,Puma,Men Running Shoes,Rs. 12999,Rs. 7149
1,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 12999,Rs. 8449
2,Puma,Men Magnify Nitro Running,Rs. 10900,Rs. 9810
3,Saint G,Men Mid-Top Chelsea Boots,Rs. 7990,Rs. 7191
4,MANGO,Women WovenDesign Sports Shoes,Rs. 9999,Rs. 7999
...,...,...,...,...
95,Onitsuka Tiger,Unisex Colourblocked Sneakers,Rs. 11495,Rs. 10345
96,Kalenji By Decathlon,Men KD500 Running Shoe,Rs. 13999,Rs. 9099
97,ALDO,Women Sneakers,Rs. 13999,Rs. 8399
98,ADIDAS,Terrex Two Trail Running Shoes,Rs. 11999,Rs. 7799
99,Nike,Women Odyssey React Running,Rs. 12999,Rs. 7799

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [197]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [198]:
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')

In [199]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.amazon.in/'
driver.get(url)

In [204]:
search_item=driver.find_element_by_id("twotabsearchtextbox")
search_item

In [205]:
search_item.send_keys("laptop,")

In [206]:
search_btn_fk=driver.find_element_by_id('nav-search-submit-button')
search_btn_fk.click()

In [208]:
cputype_chk=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[13]')
cputype_chk.click()

In [209]:
title_tag=driver.find_elements_by_xpath('//span[@class="a-size-base-plus a-color-base a-text-normal"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
ratings=driver.find_elements_by_xpath('//span[@class="a-size-base"]')
rating=[]
for i in ratings:
    rating.append(i.text)
rating
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
df=pd.DataFrame({'Product Brand':title_name[0:5] , 'Ratings' :rating[0:5], 'Original Price' :prices[0:5]})

In [210]:
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[1]/div[2]/span/a/span').click()

In [212]:
cputype_chk=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[14]')
cputype_chk.click()

In [213]:
title_tag=driver.find_elements_by_xpath('//span[@class="a-size-base-plus a-color-base a-text-normal"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
ratings=driver.find_elements_by_xpath('//span[@class="a-size-base"]')
rating=[]
for i in ratings:
    rating.append(i.text)
rating
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
df1=pd.DataFrame({'Product Brand':title_name[0:5] , 'Ratings' :rating[0:5], 'Original Price' :prices[0:5]})

In [214]:
df2=df.append(df1, ignore_index = True)
df2

                                       Product Brand Ratings Original Price
0  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...      32         59,990
1  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...      48         79,990
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....       5         85,990
3  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...     223         89,990
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...       9         82,990
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...       6       1,44,990
6  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...       6       1,43,990
7  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...      10       2,65,999
8  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...       7       1,39,990
9  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...       6       2,05,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [25]:
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')

In [26]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.ambitionbox.com/'
driver.get(url)

In [27]:
job_chk=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_chk.click()

In [28]:
search_item=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_item

In [29]:
search_item.send_keys("Data Scientist,")

In [30]:
find=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
find.click()

In [31]:
select_DS = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")

select_DS.click()

In [32]:
select_DS1 = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")

select_DS1.click()

In [33]:
title_tag=driver.find_elements_by_xpath('//a[@class="title noclick"]')

In [34]:
title_name=[]
for i in title_tag:
    title_name.append(i.text.split()[0:4])

In [35]:
company=driver.find_elements_by_xpath('//p[@class="company body-medium"]')

In [36]:
company1=[]
for i in company:
    company1.append(i.text)

In [37]:
rating_post=driver.find_elements_by_xpath('//span[@class="body-small"]')

In [38]:
rating=[]
for i in rating_post:
    rating.append(i.text.split()[0])

In [39]:
pd.DataFrame({'Jonb Title':title_name[0:10] , 'Company Name' :company1[0:10],'Rating' :rating[0:10]})

,Jonb Title,Company Name,Rating
0,"[Data, Scientist, @, Bangalore]",Fujitsu Consulting India Pvt. Ltd.,3.8
1,"[Spark, ML, Data, Scientist]",Wipro Limited,3.8
2,"[Data, Scientist]",Amazon Development Centre (India) Pvt. Ltd.,4.2
3,"[Data, Scientist, -, Analytics]",Crescendo Global,4.8
4,"[Finserv, Markets, is, hiring]",BAJAJ FINSERV DIRECT LIMITED,4.0
5,"[Data, Scientist, -, Consultant]",TransUnion Software Services Pvt. Ltd,4.5
6,"[Spec,, Data, Scientist]",BNY Mellon International Operations (India),4.0
7,"[Senior, Site, Reliability, Engineer]",NUANCE INDIA PVT LTD,4.4
8,"[Xpressbees, -, Data, Scientist]",Xpressbees Pvt Ltd,3.9
9,"[Sr, NLP, &, Text]",EVOLENT HEALTH INTERNATIONAL PRIVATE LIMITED,4.4

________________________________________________________________________________________________________________________________

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
driver = webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.ambitionbox.com/'
driver.get(url)

In [4]:
job_chk=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
job_chk.click()

In [5]:
search_item=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_item

In [6]:
search_item.send_keys("Data Scientist")

In [7]:
find=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]')
find.click()

In [8]:
title_tag=driver.find_elements_by_xpath('//div[@class="name"]')

In [9]:
title_name=[]
title1_name=[]
for i in title_tag:

    title_name.append(i.text.split()[0:1])
    title1_name.append(i.text.split()[2:5])

In [10]:
Asalary_tag=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
Avg_salary=[]
for i in Asalary_tag:
    Avg_salary.append(i.text)

In [11]:
Minsalary_tag=driver.find_elements_by_xpath('//div[@class="salary-values"]')
MinAvg_salary=[]
maxsalary=[]
for i in Minsalary_tag:
    MinAvg_salary.append(i.text.replace(r" ?\([^)]+\)","").split()[1:2])
    maxsalary.append(i.text.replace(r" ?\([^)]+\))","").split()[3:4])

In [12]:
Exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

In [13]:
Experience=[]
for i in Exp:
    Experience.append(i.text.split()[3:5])

In [15]:
df=pd.DataFrame({'Comapny Name ':title_name[0:10] , 'Total salary record,' :title1_name[0:10], 'Avarage Salary' :Avg_salary[0:10],'Maximum Salary' :maxsalary[0:10],'Minimum Salary ':MinAvg_salary,'Experience':Experience})
df

,Comapny Name,"Total salary record,",Avarage Salary,Maximum Salary,Minimum Salary,Experience
0,[Tekion],"[on, 10, salaries]",₹ 23.3L,[32.0L],[14.0L],"[4, yrs]"
1,[Microsoft],"[based, on, 224]",₹ 22.4L,[45.0L],[12.0L],"[1-4, yrs]"
2,[Goldman],"[based, on, 11]",₹ 21.9L,[30.0L],[16.0L],"[2, yrs]"
3,[Flipkart],"[on, 54, salaries]",₹ 20.6L,[30.0L],[7.0L],"[1-4, yrs]"
4,[Amazon],"[on, 85, salaries]",₹ 19.4L,[41.5L],[8.0L],"[1-4, yrs]"
5,[Arcesium],"[on, 37, salaries]",₹ 18.5L,[30.0L],[12.0L],"[1, yr]"
6,[PayPal],"[on, 12, salaries]",₹ 18.4L,[25.0L],[12.0L],"[1, yr]"
7,[Servicenow],"[Development, India, based]",₹ 18.3L,[25.0L],[12.0L],"[2-3, yrs]"
8,[Walmart],"[on, 79, salaries]",₹ 17.9L,[32.0L],[10.0L],"[1-4, yrs]"
9,[ServiceNow],"[on, 16, salaries]",₹ 17.8L,[23.0L],[11.2L],"[3, yrs]"

----------------------------------------------------------------------------THE END----------------------------------------------------------------